extends ../layout/layout.pug
block variable
    -var path = '../';


block content

    // begin firstScreen
    section#firstScreen.firstScreen.section
        .container_center
            .firstScreen__content
                .firstScreen__left
                    h1.firstScreen__title
                        span Eurasian Brands
                    .firstScreen__desc
                        span патентный центр №1 в Казахстане
                .firstScreen__right
                    a(href="#").btn.sentence_modal_js Получить прайс на все услуги
                        span + коммерческое предложение
                    a(href="https://wa.me/+77712101111" target="_blank").btn.btn_whatsapp.btn_success Спросить у нас в WhatsApp
                        span время ответа 15 секунд
    // end firstScreen

    // begin advantage
    section#advantage.advantage.section
        .advantage__bg(style="background-image: url('../img/advantage_bg.webp')")
            .advantage__lines.desktop
                span
                span
                span
                span
                span
        .advantage__wrap
            .container_center
                .advantage__list
                    each item in [ {title: '3000+<br> клиентов', subtitle: 'Нас выбирает каждый<br> второй бизнес в стране'},  {title: '1358 товарных<br> знаков', subtitle: 'зарегистрировали,<br> 97% с первого раза'},  {title: '100% гарантия<br> результата', subtitle: 'при отказе добиваемся<br> регистрации за свой счет'},  {title: 'Рассрочка<br> до 12 мес', subtitle: 'Оплачивайте услуги<br> без первого взноса'} ]

                        .advantage__item
                            i.icon-check_mark
                            .advantage__title
                                span!=item.title
                            .advantage__subtitle
                                span!=item.subtitle




    // end advantage

    // begin comments
    section#comments.comments.section
        .container_center
            .comments__top

                .comments__content
                    .comments__label(data-aos="fade-up")
                        span Скорее всего
                    h2.section__title(data-aos="fade-up")
                        span Вы точно знаете наших <b>клиентов</b>
                    .section__subtitle(data-aos="fade-up")
                        span За брендами стоят люди. Многие стали нашими хорошими друзьями.

                .comments__slider.swiper.comments-swiper-js
                    .swiper__label.mobile
                        span Передвигайте шаги влево/вправо для просмотра всех этапов работы
                        .swiper__img
                            img(src="../img/hand.svg")
                    .commentsSlider.swiper-wrapper
                        each item in [ { img: '1', name: 'Алагузова<br> Баян', info: 'Продюсер, бизнес-леди, глава компании "Shine Production", телеведущая, актриса, певица', commit: 'Из огромного выбора компаний на рынке Казахстана, мне порекомендовали именно "Eurasian Brands" как одних из лучших профессионалов в сфере регистрации и защиты авторского права. Команда "Eurasian Brands" выступила в роли моих представителей в качестве защитников в судебном процессе по авторским правам на сценарий и фильм "Станция судьбы".'}, { img: '2', name: 'Lorem.', info: 'глава компании "Shine Production"', commit: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, facilis.'}, { img: '3', name: ' Lorem ipsum.', info: ' Lorem.', commit: ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae distinctio, rem aperiam porro fugiat dolores facere illum ipsum officia natus commodi aut vel sunt cupiditate consequatur eveniet vero, ea perspiciatis?'} ]
                            .swiper-slide
                                .commentsSlider__item
                                    .commentsSlider__persone
                                        .commentsSlider__foto(style="background-image: url('../img/persone_"+item.img+".png')")
                                            .commentsSlider__play.js-youtubeModal#httuerixph8
                                                i.icon-play
                                        .commentsSlider__description
                                            .commentsSlider__name
                                                span!=item.name
                                            .commentsSlider__info
                                                span=item.info


                                    .commentsSlider__content
                                        i.icon-quote_2
                                        span=item.commit
                                        a(href="#") Читать полностью

                .comments__control
                    .comments__arrows.desktop
                        i.icon-drop_left
                        i.icon-drop_right
                    .comments__dotted




            .comments__bottom.swiper.logoSlider-swiper-js
                .swiper__label.mobile
                    span Передвигайте влево/вправо для просмотра логотипов наших клиентов
                    .swiper__img
                        img(src="../img/hand.svg")
                .logoSlider.swiper-wrapper
                    each item in [1,2,3,4,1]
                        .swiper-slide
                            .logoSlider__grid
                                each item in [1,2,3,4]
                                    .logoSlider__item
                                        .logoSlider__img
                                            img(src="../img/comments_logo_"+item+".png")
                .logoSlider__doted


            .comments__button
                a(href="#").btn.btn_warning Смотреть всех клиентов и кейсы

    // end comments

    // begin business
    section#business.business.section
        .container_center
            h2.section__title(data-aos="fade-up")
                span Работаем со всеми бизнесами, для нас <b>нет нерешаемых задач</b>

            .business__list
                .business__item(style="background-image: url('../img/business_1.jpg')")
                    span Медицинские<br> услуги

                .business__item
                    i.icon-it
                    span IT сфера,<br> образование,<br> дизайн

                .business__item(style="background-image: url('../img/business_2.jpg')")
                    span Блогеры

                .business__item
                    i.icon-by_time
                    span Досуг и развлечение,<br> медиа, телевидение<br> и музыкальные<br> группы

                .business__item(style="background-image: url('../img/business_3.jpg')")
                    span Косметические<br> товары, бьюти<br> индустрия

                .business__item
                    i.icon-sector
                    span Сектор HoReCa,<br> услуги B2B<br> и B2C

                .business__item(style="background-image: url('../img/business_4.jpg')")
                    span Магазины

                .business__item
                    i.icon-production
                    span Производство,<br> строительный<br> сектор

        .business__label
            span Business

    // end business

    // begin cases
    section#cases.cases.section
        .container_center
            .cases__label
                h2.section__title(data-aos="fade-up")
                    span Бесчисленное количество <b>успешных кейсов за 7 лет</b>
                ul.cases__list
                    each item in [ 'Наиболее <b>сложные, уникальные и интересные кейсы</b> из более чем 3 000', '<b>100%  проектов доведены</b> до нужного результата', '<b>Логотипы прошли регистрацию</b> и защищены авторским правом' ]

                        li.cases__item
                            span!=item
            .cases__tabs
                .tabs-wrapper
                    .tabs
                        each item in ['Логотипы', 'Товарные знаки', 'Судебная практика', 'Другие услуги']
                            .tab=item

                    .tabs-content
                        // start logos
                        .tab-item
                            .tab-label.mobile
                                span Передвигайте указатель на изображении влево/вправо
                                .tab-img
                                    img(src="../img/hand.svg")
                            .logos
                                .logos__list
                                    each item in [ {title: 'Доработка логотипа и регистрация товарного знака Наша Узбечка', subtitle: ' Ресторан восточной кухни' }, {title: 'Доработка логотипа и регистрация', subtitle: ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, saepe?' }, {title: 'Доработка', subtitle: ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis animi perferendis unde aspernatur ea vero eius odio magni ut doloremque.' }, {title: ' Lorem ipsum dolor sit amet, consectetur adipisicing. Lorem ipsum Lorem ipsum', subtitle: ' Lorem ipsum dolor.' },  ]

                                        .logos__item
                                            .logos__comparison.twentytwenty-container
                                                img(src="../img/before.jpg")
                                                img(src="../img/after.jpg")

                                            .logos__wrap
                                                .logos__content
                                                    .logos__title 
                                                        span=item.title
                                                    .logos__subtitle
                                                        span=item.subtitle
                                                .logos__action
                                                    .tab-label.desktop
                                                        span Передвигайте указатель на изображении влево/вправо для просмотра результата
                                                        .tab-img
                                                            img(src="../img/hand.svg")
                                                    .logos__button
                                                        a.btn.btn_md.btn_warning(href="#") Изучить кейс

                            .tab-action
                                a.tab-showMore(href="#") Смотреть еще 4 кейса
                                a.btn(href="#") Изучить все кейсы

                        // end logos

                        // start trademarks
                        .tab-item
                            .trademarks

                                .trademarks__grid
                                    each item in [1,2,3,4,5,6,7,8,9,10,1,12]
                                        .trademarks__item
                                            .trademarks__img
                                                img(src="../img/trademarks_"+item+".png", alt="alt")


                            .tab-action
                                a.tab-showMore(href="#") Смотреть еще 6 кейсов
                                a.btn(href="#") Изучить все кейсы

                        // end trademarks

                        // start practice
                        .tab-item
                            .tabServices
                                .tabServices__grid
                                    each item in [1,1,1,1]
                                        .tabServices__item
                                            .tabServices__top
                                                .tabServices__title
                                                    span Взыскание компенсации 1 млн. тенге в рамках дела по защите исключительных прав клиента
                                            .tabServices__bottom
                                                .tabServices__img
                                                    img(src="../img/trademarks_"+item+".png", alt="alt")
                                                .tabServices__content
                                                    .tabServices__row
                                                        .tabServices__label
                                                            span Оказанные услуги:
                                                        .tabServices__desc
                                                            span Борьба с контрафактом
                                                    .tabServices__row
                                                        .tabServices__label
                                                            span Отрасль:
                                                        .tabServices__desc
                                                            span Торговля

                                                .tabServices__link
                                                    a(href="#") Изучить кейс
                            .tab-action
                                a.tab-showMore(href="#") Смотреть еще 4 кейса
                                a.btn(href="#") Изучить все кейсы

                        // end practice

                        // start tabServices
                        .tab-item
                            .tabServices
                                .tabServices__grid
                                    each item in [1,2,3,4]
                                        .tabServices__item
                                            .tabServices__top
                                                .tabServices__title
                                                    span Доработка логотипа и регистрация товарного знака NEMO
                                            .tabServices__bottom
                                                .tabServices__link
                                                    a(href="#") Изучить кейс
                            .tab-action
                                a.tab-showMore(href="#") Смотреть еще 4 кейса
                                a.btn(href="#") Изучить все кейсы
                        // end tabServices



    // end cases

    // begin services
    section#services.services.section
        .container_center
            .services__content
                .services__tabs
                    .tabs-wrapper
                        .tabs-left
                            h2.section__title(data-aos="fade-up")
                                span <b>Все услуги</b> патентования в одном месте
                            .tabs
                                each item in ['Товарные знаки', 'Авторские права', 'Логотипы','Патенты', 'Внесение в таможенный реестр','Блокировка аккаунтов', 'Суды и споры','Битрикс 24', 'Депозитарий авторских прав', 'Правовые консультации']
                                    .tab=item

                        .swiper__label.mobile
                            span Передвигайте шаги влево/вправо для просмотра всех услуг
                            .swiper__img
                                img(src="../img/hand.svg")

                        .tabs-content
                            each item in [1,1,1,1,1,1,1,1,1,1]
                                .tab-item.swiper.services-swiper-js
                                    .services__grid.swiper-wrapper.counter-wrap
                                        each item in ['Регистрация товарного знака', 'Продление срока регистрации', 'Проверка на уникальность', 'Международная регистрация  по Мадридской системе и за рубежом', 'Регистрация общеизвестного товарного знака', 'Регистрация наименования места происхождения товара', 'Ответ на уведомление или отказ в регистрации',]


                                            .services__item.swiper-slide.counter-item
                                                .services__title
                                                    span!=item
                                                .services__request.call_modal_js
                                                    a(href="#") Заявка на косультацию
                                                .services__action
                                                    .services__number
                                                        span.counter-el

                                                    .services__link.dotted
                                                        a(href="#") Подробнее об услуге
                                                    .services__arrow
                                                        i.icon-arrow_deg

                                        .services__item.swiper-slide.services__item_bg
                                            .services__title
                                                span Не нашли нужную услугу?
                                            .services__subtitle
                                                span Уверены, мы сможем помочь. Просто напишите нам. Ответим за 15 секунд!
                                            .services__button
                                                a(href="https://wa.me/+77712101111" target="_blank").btn.btn_whatsapp_sm.btn_success.btn_md Написать в WhatsApp
                                    .services__dotted


    // end services

    // begin presentation
    section#presentation.presentation.section
        .container_center
            //- .presentation__bg(style="background-image: url('../img/presentation_bg.jpg')")
            .presentation__bg
                .presentation__content
                    h2.section__title(data-aos="fade-up")
                        span Получите  <i class="icon-download"></i> <b>презентацию Eurasian Brands</b>
                    .section__subtitle(data-aos="fade-up")
                        span со стоимостью услуг через минуту

                    .presentation__form
                        form.form
                            .form__label
                                span Куда прислать презентацию?
                            .form__row
                                select.select(data-placeholder="Whatsapp")
                                    option(value="")
                                    option(value="whatsapp") Whatsapp
                                    option(value="Viber") Viber
                                    option(value="Telegram") Telegram

                            .form__row
                                input(type="tel" class="tel" required placeholder="Введите ваш номер")

                            .form__row
                                button.btn.btn_didisabled_js(type="submit") Получить презентацию с ценами на услуги



                            .form__row
                                .form__privacy
                                    label.form__check
                                        input.check_checked_js(type="checkbox" checked="checked")
                                        span Нажимая кнопку вы соглашаетесь  с условиями <a href="#" target="_blank" class="privacy_js">Политики конфиденциальности</a>


    // end presentation

    // begin conditions
    section#conditions.conditions.section
        .container_center
            .conditions__wrap
                .conditions__caption
                    h2.section__title(data-aos="fade-up")
                        span Предлагаем уникальные <b>условия сотрудничества</b>
                    .conditions__desc(data-aos="fade-up")
                        span Таких преимуществ вы не найдете ни у одной патентной компании в Казахстане — мы проверяли
                .swiper__label.mobile
                    span Передвигайте шаги влево/вправо для просмотра всех преимуществ
                    .swiper__img
                        img(src="../img/hand.svg")
                .swiper.conditions-swiper-js
                    .conditions__grid.swiper-wrapper.counter-wrap


                        .conditions__item.swiper-slide.counter-item
                            .conditions__icon
                                i.icon-percent

                            .conditions__content.conditions__content_goTop
                                .conditions__title
                                    span Рассрочка
                                .conditions__text
                                    span Обычно каждый второй клиент оплачивает наши услуги по беспроцентной рассрочке: Альфа-банк, Kaspi Bank или собственной от Eurasian Brands.
                            .conditions__button
                                a(href="#").btn.btn_md Подробнее
                            .conditions__count
                                span.counter-el


                        .conditions__item.swiper-slide.counter-item
                            .conditions__icon
                                i.icon-defense

                            .conditions__content.conditions__content_goTop
                                .conditions__title
                                    span 100% гарантия регистрации
                                .conditions__text
                                    span Берем на себя финансовую ответственность за регистрацию: добьемся регистрации или вернем 100% оплату
                            .conditions__button
                                a(href="#").btn.btn_md Подробнее
                            .conditions__count
                                span.counter-el


                        .conditions__item.swiper-slide.counter-item
                            .conditions__icon
                                i.icon-timer

                            .conditions__content
                                .conditions__title
                                    span Подаем заявку<br> в день оплаты
                                .conditions__text
                                    span Для закрепления приоритетного права на товарный знак крайне важно, не откладывая, подать заявку на регистрацию
                            .conditions__count
                                span.counter-el


                        .conditions__item.swiper-slide.counter-item
                            .conditions__icon
                                i.icon-list

                            .conditions__content
                                .conditions__title
                                    span Сражаемся за ваш<br> товарный знак
                                .conditions__text
                                    span Даже если вам отказали в регистрации, мы изучим отказ, выработаем и реализуем стратегию беспроигрышных действий, благодаря которым гарантируем регистрацию
                            .conditions__count
                                span.counter-el


                        .conditions__item.swiper-slide.counter-item
                            .conditions__icon
                                i.icon-loupe

                            .conditions__content
                                .conditions__title
                                    span Бесплатный поиск
                                .conditions__text
                                    span В рамках предварительных договоренностей мы бесплатно проверим ваш товарный знак и выдадим заключение о возможности регистрации
                            .conditions__count
                                span.counter-el

                    .conditions__dotted



    // end conditions

    // begin runningLine
    section#runningLine.runningLine.section
        .runningLine__content
            .runningLine__list
                each item in ['РЕПУТАЦИЯ', 'ЛИДЕРСТВО', 'ОТКРЫТОСТЬ', 'КОМПЕТЕНТНОСТЬ', 'РЕПУТАЦИЯ', 'ЛИДЕРСТВО', 'ОТКРЫТОСТЬ', 'КОМПЕТЕНТНОСТЬ']
                    .runningLine__item
                        span=item

    // end runningLine

    // begin information
    section#information.information.section
        .container_center
            .information__top
                h2.section__title(data-aos="fade-up")
                    span «Приумножаем эффективность и доходы бизнеса»
                .information__subtitle
                    span Дорожим своей репутацией <b>40% наших клиентов пришли по рекомендации.</b>

                .information__content
                    .company
                        .company__label
                            span О нашей компании и подходе в видео за 2 минуты
                        .company__play.js-youtubeModal#httuerixph8
                            i.icon-play
                    .lider
                        .lider__icon
                            i.icon-arrow_deg
                        .lider__name
                            span Турсунов Куаныш Абилкасымович
                        .lider__info
                            span патентный поверенный Республики Казахстан. Основатель и руководитель компании Eurasian Brands

                .information__list
                    .list__title
                        span Поэтому открыто Вам заявляю и гарантирую:
                    ul.list
                        each item in [ {label: 'Прозрачная стоимость,  не меняется в ходе работы', text: 'Стоимость наших услуг опубликована здесь на сайте. Оказание услуг оформляется официальным договором. Она окончательная и не изменится в большую сторону в процессе работы;'}, {label: 'Не химичим — знаем закон и работаем легально', text: 'Знаете, что самое плохое? На рынке есть недобросовестные компании, которые на консультации называют одну цену, а в ходе работы увеличивают ее в 2, 3 раза. Будьте бдительны и работайте с проверенными компаниями;'},]

                            li.list__item
                                .list__label
                                    span=item.label
                                .list__text
                                    span=item.text

            .information__bottom
                ul.data
                    li.data__item(data-aos="fade-up")
                        .data__content
                            .data__number
                                span 3000
                                i +
                            .data__label
                                span довольных клиентов
                    li.data__item(data-aos="fade-up" data-aos-delay="300")
                        .data__content
                            .data__number
                                span 97
                                i %
                            .data__label
                                span получают документы<br> с первого раза
                    li.data__item(data-aos="fade-up" data-aos-delay="600")
                        .data__content
                            .data__number
                                span 1358
                            .data__label
                                span товарных знаков<br> зарегистрировали
                    li.data__item(data-aos="fade-up" data-aos-delay="900")
                        .data__content
                            .data__number
                                span 1125
                            .data__label
                                span досудебных<br> урегулирований


    // end information

    // begin team
    section#team.team.section
        .container_center
            .team__content
                .team__left
                    h2.section__title(data-aos="fade-up")
                        span Команда
                    .section__subtitle
                        span Сильная. Амбициозная. Надёжная. <b>Наше кредо — готовим все документы как для себя!</b>
                    .team__text
                        p В вопросах, где другие уже наломали дров, мы стараемся разобраться максимально эффективно, чтобы перевесить ситуацию в русло клиента.
                        p Если вопрос потенциально не выгодный — сообщим на берегу и озвучим все риски.
                    .team__button.desktop
                        a(href="#").btn.btn_md Подробнее о компании
                .team__right
                    .swiper__label.mobile
                        span Листайте фото влево/вправо для просмотра всех сотрудников 
                        .swiper__img
                            img(src="../img/hand.svg")
                    .swiper.team-swiper-js
                        .team__slider.swiper-wrapper

                            each item, i in [ {name: 'Кыжырова<br> Улпан<br> Жанбаевна', desc: 'Юрист, патентовед, эксперт по товарным знакам и таможенному реестру'}, {name: 'Клёнова<br> Айя<br> Ибрагимовна', desc: 'Юрист, патентовед, эксперт по товарным знакам'}, {name: 'Кыжырова<br> Улпан<br> Жанбаевна', desc: 'Юрист, патентовед, эксперт по товарным знакам и таможенному реестру'}, {name: 'Клёнова<br> Айя<br> Ибрагимовна', desc: 'Юрист, патентовед, эксперт по товарным знакам'}, ]

                                .team__item.swiper-slide
                                    .person(style="background-image: url('../img/team_"+(i+1)+".jpg')")
                                        .person__content
                                            .person__icon
                                                i.icon-arrow_deg
                                            .person__info
                                                .person__name
                                                    span!=item.name
                                                .person__desc
                                                    span=item.desc
                        .team__control
                            .team__arrows.arrows_info.desktop
                                i.icon-arrow_long_left
                                i.icon-arrow_long_right
                            .team__dotted.dotted_info

                .team__button.mobile
                    a(href="#").btn Подробнее о компании



    // end team

    // begin certificate
    section#certificate.certificate.section
        .container_center
            .certificate__content
                .certificate__left
                    h2.section__title(data-aos="fade-up")
                        span Посмотрите, все <b>наши свидетельства</b>

                    .certificate__text
                        p Даём гарантию на результаты своей работы, когда это действительно очевидно для нас.
                        p Первые в Казахстане зарегистрировали звуковой товарный знак.
                    .certificate__button
                        a(href="#").btn.btn_md Изучит кейс


                .certificate__right

                    .swiper__label.mobile
                        span Передвигайте влево/вправо для просмотра всех  документов
                        .swiper__img
                            img(src="../img/hand.svg")

                    .swiper.certificate-swiper-js

                        .certificate__control.desktop
                            .certificate__arrows.arrows_info
                                i.icon-arrow_long_left
                                i.icon-arrow_long_right
                            .certificate__dotted.dotted_info

                        .certificate__slider.swiper-wrapper
                            each item in [1,1,1,1]
                                .certificate__item.swiper-slide
                                    .certificate__doc(style="background-image: url('../img/certificate_doc.jpg')")
                                        a(href="../img/certificate_doc.jpg" data-fancybox data-type="image")

                        .certificate__control.mobile
                            .certificate__dotted

                .certificate__pen(data-aos="fade-up")




    // end certificate

    // begin news
    section#news.news.section
        .container_center
            .news__content
                .news__left
                    h3.news__title
                        span Рассказываем о том, чего не знают другие на YouTube

                    .swiper__label.mobile
                        span Листайте видео влево/вправо для просмотра всех 
                        .swiper__img
                            img(src="../img/hand.svg")

                    .youtubeBox
                        .swiper.youtubeBox-swiper-js
                            .youtubeBox__slider.swiper-wrapper
                                each item in [1,1,1,1]
                                    .youtubeBox__item.swiper-slide
                                        .youtubeBox__bg(style="background-image: url('../img/youtubeBox_bg.jpg')")
                                            .youtubeBox__play.js-youtubeModal#httuerixph8
                                                i.icon-play

                            .news__control.youtubeBox__control
                                .news__link.dotted
                                    a(href="#") Перейти на YouTube
                                .youtubeBox__arrows.arrows_info.desktop
                                    i.icon-arrow_long_left
                                    i.icon-arrow_long_right


                .news__right
                    h3.news__title
                        span Щедро делимся информацией в блоге

                    .swiper__label.mobile
                        span Листайте статьи влево/вправо для просмотра всех 
                        .swiper__img
                            img(src="../img/hand.svg")
                    .blog
                        .swiper.blog-swiper-js
                            .blog__slider.swiper-wrapper
                                each item in [ {date: '29 апреля 2022', title: 'Как зарегистрировать товарный знак в Казахстане', desc: 'Один из популярных вопросов, который волнует клиентов'}, {date: '30 апреля 2022', title: 'Как зарегистрировать', desc: 'Один из популярных вопросов, который волнует клиентов'}, {date: '31 апреля 2022', title: 'Как зарегистрировать товарный знак в Казахстане', desc: 'Один из популярных вопросов, который волнует клиентов Один из популярных вопросов, который волнует клиентов'}, {date: '31 апреля 2022', title: 'Как зарегистрировать товарный знак в Казахстане Как', desc: 'Один из популярных вопросов'},]
                                    .blog__slide.swiper-slide
                                        .blog__bg_wrap
                                            .blog__bg(style="background-image: url('../img/blog_bg.jpg')")
                                        .blog__date
                                            span=item.date
                                        .blog__title
                                            a(href="#")=item.title
                                        .blog__description
                                            span=item.desc

                            .news__control.blog__control
                                .news__link.dotted
                                    a(href="#") Перейти в блог
                                .blog__arrows.arrows_info.desktop
                                    i.icon-arrow_long_left
                                    i.icon-arrow_long_right
                                .blog__dotted.mobile



    // end news

    // begin consultation
    section#consultation.consultation.section
        .container_center
            .consultation__wrap
                .consultation__content
                    h2.section__title.desktop(data-aos="fade-up")
                        span Давайте мы вас <b>проконсультируем</b>
                    h2.section__title.mobile
                        span Давайте <b>проконсультируем</b>
                    .section__subtitle
                        span и предложим варианты<br> решения вашего вопроса
                    .consultation__list(data-aos="fade-right")
                        each item in ['<b>Проанализируем</b> документы', '<b>Дадим рекомендации</b> по дальнейшим действиям;', '<b>Назовем</b> точную стоимость;', '<b>Рассчитаем</b> платежи, если нужна рассрочка;']
                            .consultation__item
                                span!=item

                    .consultation__phone
                        .phone
                            .phone__time
                                span Звоните, Пн-ВС 10:00 - 21:00
                            .phone__link
                                a(href="tel:+77712101111") +7 (771) 210-11-11
                    .consultation__action
                        span Спрашивайте, мы онлайн, время ответа 15 сек
                        a(href="https://wa.me/+77712101111" target="_blank").btn.btn_whatsapp_sm.btn_success Написать в WhatsApp
                            span.mobile время ответа 15 секунд

                .consultation__form
                    form.form
                        .form__title
                            span <b>После отправки<br> формы</b> мы перезвоним<br> через 30 секундн

                        .form__row
                            textarea(type="text", placeholder="Опишите вашу задачу в общих чертах. Это не обязательно, но позволит нам быстрее сориентироваться и направить вашу заявку профильному специалисту.")

                        .form__row
                            input(type="tel" class="tel" required placeholder="Введите ваш номер")

                        .form__row
                            button.btn.btn_didisabled_js(type="submit") Получить консультацию



                        .form__row
                            .form__privacy
                                label.form__check
                                    input.check_checked_js(type="checkbox" checked="checked")
                                    span Нажимая кнопку вы соглашаетесь  с условиями <a href="#" target="_blank" class="privacy_js">Политики конфиденциальности</a>


                .consultation__lider.desktop
                    .lider__icon
                        i.icon-arrow_deg
                    .lider__name
                        span Клёнова Айя Ибрагимовна
                    .lider__info
                        span Юрист, патентовед, эксперт по товарным знакам


    // end consultation






    // begin faq
    section#faq.faq.section
        .container_center
            h2.section__title(data-aos="fade-up")
                span <b>Отвечаем</b> на часто задаваемые вопросы
            .faq__content

                //- .collapse(data-collapse-wrapper="")
                //-     .collapse__title.open(data-collapse="") 
                //-         span Вопрос о школе
                //-     // Добавить класс open для открытого состояния
                //-     .collapse__body.open(data-collapse-body="")
                //-         p Ежегодно на несколько дней Санкт‑Петербург становится столицей российского образования, открытой площадкой для дискуссий, обмена опытом, откровенного профессионального диалога ведущих специалистов в области просвещения.
                //- 
                //-         p В рамках форума запланировано около 300 мероприятий: конференции, семинары, круглые столы, мастер-классы, дискуссионные площадки, форсайт‑сессии, педагогические олимпиады, конкурсы, квесты, презентации.
                each item in [1,2]

                    .faq__col
                        each title in [1,2,3,4]

                            .collapse(data-collapse-wrapper="")
                                .collapse__title(data-collapse="")
                                    span Могу ли я получить патент и сохранить свое изобретение в тайне?
                                .collapse__body(data-collapse-body="")
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed ratione adipisci nostrum eos, quis ipsa doloremque fugit dolores sunt atque.

    // end faq
