extends ../layout/layout.pug
block variable
    -var path = '../';


block content
    // begin breadcrumbs
    .breadcrumbs.section
        .container_center
            .kama_breadcrumbs
                span
                    a(href="#")
                        span Главная
                span.kb_sep 
                    i.icon-arrow_right
                span.kb_title Кейсы
    // end breadcrumbs

    // begin cases
    section#cases.cases.cases_page.section
        .container_center
            .cases__label
                h1.section__title.section__title_page(data-aos="fade-up")
                    span Бесчисленное количество <b>успешных кейсов за 7 лет</b>
                ul.cases__list
                    each item in [ 'Наиболее <b>сложные, уникальные и интересные кейсы</b> из более чем 3 000', '<b>100%  проектов доведены</b> до нужного результата', '<b>Логотипы прошли регистрацию</b> и защищены авторским правом' ]

                        li.cases__item
                            span!=item
            .cases__tabs
                .tabs-wrapper
                    .tabs
                        each item in ['Логотипы', 'Товарные знаки', 'Судебная практика', 'Другие услуги']
                            .tab=item

                    .tabs-content
                        // start logos
                        .tab-item
                            .tab-label.mobile
                                span Передвигайте указатель на изображении влево/вправо
                                .tab-img
                                    img(src="../img/hand.svg")
                            .logos
                                .logos__list
                                    each item in [ {title: 'Доработка логотипа и регистрация товарного знака Наша Узбечка', subtitle: ' Ресторан восточной кухни' }, {title: 'Доработка логотипа и регистрация', subtitle: ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, saepe?' }, {title: 'Доработка', subtitle: ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis animi perferendis unde aspernatur ea vero eius odio magni ut doloremque.' }, {title: ' Lorem ipsum dolor sit amet, consectetur adipisicing. Lorem ipsum Lorem ipsum', subtitle: ' Lorem ipsum dolor.' },  ]

                                        .logos__item
                                            .logos__comparison.twentytwenty-container
                                                img(src="../img/before.jpg")
                                                img(src="../img/after.jpg")

                                            .logos__wrap
                                                .logos__content
                                                    .logos__title 
                                                        span=item.title
                                                    .logos__subtitle
                                                        span=item.subtitle
                                                .logos__action
                                                    .tab-label.desktop
                                                        span Передвигайте указатель на изображении влево/вправо для просмотра результата
                                                        .tab-img
                                                            img(src="../img/hand.svg")
                                                    .logos__button
                                                        a.btn.btn_md.btn_warning(href="#") Изучить кейс

                            .tab-action
                                a.tab-showMore(href="#") Смотреть еще 4 кейса

                        // end logos

                        // start trademarks
                        .tab-item
                            .trademarks

                                .trademarks__grid
                                    each item in [1,2,3,4,5,6,7,8,9,10,1,12]
                                        .trademarks__item
                                            .trademarks__img
                                                img(src="../img/trademarks_"+item+".png", alt="alt")


                            .tab-action
                                a.tab-showMore(href="#") Смотреть еще 6 кейсов

                        // end trademarks

                        // start practice
                        .tab-item
                            .tabServices
                                .tabServices__grid
                                    each item in [1,1,1,1]
                                        .tabServices__item
                                            .tabServices__top
                                                .tabServices__title
                                                    span Взыскание компенсации 1 млн. тенге в рамках дела по защите исключительных прав клиента
                                            .tabServices__bottom
                                                .tabServices__img
                                                    img(src="../img/trademarks_"+item+".png", alt="alt")
                                                .tabServices__content
                                                    .tabServices__row
                                                        .tabServices__label
                                                            span Оказанные услуги:
                                                        .tabServices__desc
                                                            span Борьба с контрафактом
                                                    .tabServices__row
                                                        .tabServices__label
                                                            span Отрасль:
                                                        .tabServices__desc
                                                            span Торговля

                                                .tabServices__link
                                                    a(href="#") Изучить кейс
                            .tab-action
                                a.tab-showMore(href="#") Смотреть еще 4 кейса

                        // end practice

                        // start tabServices
                        .tab-item
                            .tabServices
                                .tabServices__grid
                                    each item in [1,2,3,4]
                                        .tabServices__item
                                            .tabServices__top
                                                .tabServices__title
                                                    span Доработка логотипа и регистрация товарного знака NEMO
                                            .tabServices__bottom
                                                .tabServices__link
                                                    a(href="#") Изучить кейс
                            .tab-action
                                a.tab-showMore(href="#") Смотреть еще 4 кейса
                        // end tabServices



    // end cases

    // begin action
    section#action.action.section
        .container_center
            .action__wrap
                .action__left.action__bg(style="background-image: url('../img/action__left_bg.webp')")
                    .action__content
                        h3.action__title
                            span <b>Скачайте презентацию</b> с нашими<br> ценами на все услуги прямо сейчас
                        .action__form
                            form.form
                                .form__label
                                    span Куда прислать презентацию?
                                .form__row
                                    select.select(data-placeholder="Whatsapp")
                                        option(value="")
                                        option(value="whatsapp") Whatsapp
                                        option(value="Viber") Viber
                                        option(value="Telegram") Telegram

                                .form__row
                                    input(type="tel" class="tel" required placeholder="Введите ваш номер")

                                .form__row
                                    button.btn.btn_didisabled_js(type="submit") Получить презентацию с ценами на услуги
                                .form__row
                                    .form__privacy
                                        label.form__check
                                            input.check_checked_js(type="checkbox" checked="checked")
                                            span Нажимая кнопку вы соглашаетесь  с условиями <a href="#" target="_blank" class="privacy_js">Политики конфиденциальности</a>


                .action__right.action__bg(style="background-image: url('../img/action__right_bg.webp')")
                    .action__content
                        h3.action__title
                            span <b>Получите консультацию</b><br> специалиста Eurasian<br> Brands уже через 30 сек
                        .action__form
                            form.form
                                .form__label
                                    span Куда прислать презентацию?
                                .form__row
                                    input(type="tel" class="tel" required placeholder="Введите ваш номер")

                                .form__row
                                    button.btn.btn_didisabled_js.btn_warning(type="submit") Получить презентацию с ценами на услуги

                                .form__row
                                    .form__privacy
                                        label.form__check
                                            input.check_checked_js(type="checkbox" checked="checked")
                                            span Нажимая кнопку вы соглашаетесь  с условиями <a href="#" target="_blank" class="privacy_js">Политики конфиденциальности</a>

    // end action

    // begin significant
    section#significant.significant.section
        .container_center
            h2.significant__title
                span Заголовок который важен для SEO
            .significant__content
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo lla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            .significant__collapse
                .collapse(data-collapse-wrapper="")


                    .collapse__body(data-collapse-body="")
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed ratione adipisci nostrum eos, quis ipsa doloremque fugit dolores sunt atque.
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed ratione adipisci nostrum eos, quis ipsa doloremque fugit dolores sunt atque. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                        h1 заголовок h1
                        h2 заголовок h2
                        h3 заголовок h3
                        h4 заголовок h4
                        h5 заголовок h5
                        h6 заголовок h6

                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                        h3 заголовок третьего уровня

                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        h1 список ul

                        ul
                            each item in ['защищенность от размокания;', 'использование водостойких материалов и покрытий;', 'широкий диапазон рабочих температур;', 'обработка составами, предотвращающими появление плесени или грибков;']
                                li=item

                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    .collapse__title(data-collapse="")


    // end significant
